version: "3.9"

services:
  frontend:
    build: ./my-apps
    container_name: my_apps_frontend
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: backend_container
    ports:
      - "5000:5000"
    restart: always
    environment:
      DB_HOST: mysql
      DB_USER: corpuser
      DB_PASSWORD: copt123
      DB_NAME: corpdb
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: corpdb
      MYSQL_USER: corpuser
      MYSQL_PASSWORD: copt123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
